{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://elasticache.amazonaws.com/"
        },
        {
            "url": "http://elasticache.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache, customers get all of the benefits of a high-performance, in-memory cache with less of the administrative burden involved in launching and managing a distributed cache. The service makes setup, scaling, and cluster failure handling much simpler than in a self-managed cache deployment.</p> <p>In addition, through integration with Amazon CloudWatch, customers get enhanced visibility into the key performance statistics associated with their cache and can receive alarms if a part of their cache runs hot.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon ElastiCache",
        "version": "2015-02-02",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticache-2015-02-02.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "elasticache"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/elasticache/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds up to 50 cost allocation tags to the named resource. A cost allocation tag is a key-value pair where the key and value are case-sensitive. You can use cost allocation tags to categorize and track your AWS costs.</p> <p> When you apply tags to your ElastiCache resources, AWS generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>",
                "operationId": "AddTagsToResource",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Represents the output from the <code>AddTagsToResource</code>, <code>ListTagsForResource</code>, and <code>RemoveTagsFromResource</code> operations.",
                                    "properties": {
                                        "TagList": {
                                            "description": "A list of cost allocation tags as key-value pairs.",
                                            "items": {
                                                "description": "A cost allocation Tag that can be added to an ElastiCache cluster or replication group. Tags are composed of a Key/Value pair. A tag with a null Value is permitted.",
                                                "properties": {
                                                    "Key": {
                                                        "description": "The key for the tag. May not be null.",
                                                        "type": "string"
                                                    },
                                                    "Value": {
                                                        "description": "The tag's value. May be null.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CacheClusterNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "SnapshotNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TagQuotaPerResourceExceeded",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidARNFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of an AddTagsToResource operation.",
                                "properties": {
                                    "ResourceName": {
                                        "description": "<p>The Amazon Resource Name (ARN) of the resource to which the tags are to be added, for example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code> or <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>. ElastiCache resources are <i>cluster</i> and <i>snapshot</i>.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A list of cost allocation tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value.",
                                        "items": {
                                            "description": "A cost allocation Tag that can be added to an ElastiCache cluster or replication group. Tags are composed of a Key/Value pair. A tag with a null Value is permitted.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The key for the tag. May not be null.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The tag's value. May be null.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceName",
                                    "Tags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AuthorizeCacheSecurityGroupIngress": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>",
                "operationId": "AuthorizeCacheSecurityGroupIngress",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "CacheSecurityGroup": {
                                            "description": "<p>Represents the output of one of the following operations:</p> <ul> <li> <p> <code>AuthorizeCacheSecurityGroupIngress</code> </p> </li> <li> <p> <code>CreateCacheSecurityGroup</code> </p> </li> <li> <p> <code>RevokeCacheSecurityGroupIngress</code> </p> </li> </ul>",
                                            "properties": {
                                                "CacheSecurityGroupName": {
                                                    "description": "The name of the cache security group.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description of the cache security group.",
                                                    "type": "string"
                                                },
                                                "EC2SecurityGroups": {
                                                    "description": "A list of Amazon EC2 security groups that are associated with this cache security group.",
                                                    "items": {
                                                        "description": "Provides ownership and status information for an Amazon EC2 security group.",
                                                        "properties": {
                                                            "EC2SecurityGroupName": {
                                                                "description": "The name of the Amazon EC2 security group.",
                                                                "type": "string"
                                                            },
                                                            "EC2SecurityGroupOwnerId": {
                                                                "description": "The AWS account ID of the Amazon EC2 security group owner.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "The status of the Amazon EC2 security group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "OwnerId": {
                                                    "description": "The AWS account ID of the cache security group owner.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CacheSecurityGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidCacheSecurityGroupStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AuthorizationAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of an AuthorizeCacheSecurityGroupIngress operation.",
                                "properties": {
                                    "CacheSecurityGroupName": {
                                        "description": "The cache security group that allows network ingress.",
                                        "type": "string"
                                    },
                                    "EC2SecurityGroupName": {
                                        "description": "The Amazon EC2 security group to be authorized for ingress to the cache security group.",
                                        "type": "string"
                                    },
                                    "EC2SecurityGroupOwnerId": {
                                        "description": "The AWS account number of the Amazon EC2 security group owner. Note that this is not the same thing as an AWS access key ID - you must provide a valid AWS account number for this parameter.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "CacheSecurityGroupName",
                                    "EC2SecurityGroupName",
                                    "EC2SecurityGroupOwnerId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopySnapshot": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Makes a copy of an existing snapshot.</p> <note> <p>This operation is valid for Redis only.</p> </note> <important> <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <code>CopySnapshot</code> operation. For more information about using IAM to control the use of ElastiCache operations, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html\">Exporting Snapshots</a> and <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/IAM.html\">Authentication &amp; Access Control</a>.</p> </important> <p>You could receive the following error messages.</p> <p class=\"title\"> <b>Error Messages</b> </p> <ul> <li> <p> <b>Error Message:</b> The S3 bucket %s is outside of the region.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s does not exist.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s is not owned by the authenticated user.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html#Snapshots.Exporting.CreateBucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s already contains an object with key %s.</p> <p> <b>Solution:</b> Give the <code>TargetSnapshotName</code> a new and unique value. If exporting a snapshot, you could alternatively create a new Amazon S3 bucket and use this same value for <code>TargetSnapshotName</code>.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add List and Read permissions on the bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted WRITE permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add Upload/Delete permissions on the bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ_ACP permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add View Permissions on the bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> </ul>",
                "operationId": "CopySnapshot",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "Snapshot": {
                                            "description": "Represents a copy of an entire Redis cluster as of the time when the snapshot was taken.",
                                            "properties": {
                                                "AutoMinorVersionUpgrade": {
                                                    "description": "This parameter is currently disabled.",
                                                    "type": "boolean"
                                                },
                                                "AutomaticFailover": {
                                                    "description": "<p>Indicates the status of Multi-AZ with automatic failover for the source Redis replication group.</p> <p>Amazon ElastiCache for Redis does not support Multi-AZ with automatic failover on:</p> <ul> <li> <p>Redis versions earlier than 2.8.6.</p> </li> <li> <p>Redis (cluster mode disabled): T1 and T2 cache node types.</p> </li> <li> <p>Redis (cluster mode enabled): T1 node types.</p> </li> </ul>",
                                                    "enum": [
                                                        "enabled",
                                                        "disabled",
                                                        "enabling",
                                                        "disabling"
                                                    ],
                                                    "type": "string"
                                                },
                                                "CacheClusterCreateTime": {
                                                    "description": "The date and time when the source cluster was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "CacheClusterId": {
                                                    "description": "The user-supplied identifier of the source cluster.",
                                                    "type": "string"
                                                },
                                                "CacheNodeType": {
                                                    "description": "<p>The name of the compute and memory capacity node type for the source cluster.</p> <p>The following node types are supported by ElastiCache. Generally speaking, the current generation types provide more memory and computational power at lower cost when compared to their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> <p> <b>R4 node types;</b> <code>cache.r4.large</code>, <code>cache.r4.xlarge</code>, <code>cache.r4.2xlarge</code>, <code>cache.r4.4xlarge</code>, <code>cache.r4.8xlarge</code>, <code>cache.r4.16xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Notes:</b> </p> <ul> <li> <p>All T2 instances are created in an Amazon Virtual Private Cloud (Amazon VPC).</p> </li> <li> <p>Redis (cluster mode disabled): Redis backup/restore is not supported on T1 and T2 instances. </p> </li> <li> <p>Redis (cluster mode enabled): Backup/restore is not supported on T1 instances.</p> </li> <li> <p>Redis Append-only files (AOF) functionality is not supported for T1 or T2 instances.</p> </li> </ul> <p>For a complete listing of node types and specifications, see:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/elasticache/details\">Amazon ElastiCache Product Features and Details</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/mem-ug/ParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific\">Cache Node Type-Specific Parameters for Memcached</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/ParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific\">Cache Node Type-Specific Parameters for Redis</a> </p> </li> </ul>",
                                                    "type": "string"
                                                },
                                                "CacheParameterGroupName": {
                                                    "description": "The cache parameter group that is associated with the source cluster.",
                                                    "type": "string"
                                                },
                                                "CacheSubnetGroupName": {
                                                    "description": "The name of the cache subnet group associated with the source cluster.",
                                                    "type": "string"
                                                },
                                                "Engine": {
                                                    "description": "The name of the cache engine (<code>memcached</code> or <code>redis</code>) used by the source cluster.",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": "The version of the cache engine version that is used by the source cluster.",
                                                    "type": "string"
                                                },
                                                "NodeSnapshots": {
                                                    "description": "A list of the cache nodes in the source cluster.",
                                                    "items": {
                                                        "description": "Represents an individual cache node in a snapshot of a cluster.",
                                                        "properties": {
                                                            "CacheClusterId": {
                                                                "description": "A unique identifier for the source cluster.",
                                                                "type": "string"
                                                            },
                                                            "CacheNodeCreateTime": {
                                                                "description": "The date and time when the cache node was created in the source cluster.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "CacheNodeId": {
                                                                "description": "The cache node identifier for the node in the source cluster.",
                                                                "type": "string"
                                                            },
                                                            "CacheSize": {
                                                                "description": "The size of the cache on the source cache node.",
                                                                "type": "string"
                                                            },
                                                            "NodeGroupConfiguration": {
                                                                "description": "The configuration for the source node group (shard).",
                                                                "properties": {
                                                                    "NodeGroupId": {
                                                                        "description": "The 4-digit id for the node group these configuration values apply to.",
                                                                        "maxLength": 4,
                                                                        "minLength": 1,
                                                                        "pattern": "\\d+",
                                                                        "type": "string"
                                                                    },
                                                                    "PrimaryAvailabilityZone": {
                                                                        "description": "The Availability Zone where the primary node of this node group (shard) is launched.",
                                                                        "type": "string"
                                                                    },
                                                                    "ReplicaAvailabilityZones": {
                                                                        "description": "A list of Availability Zones to be used for the read replicas. The number of Availability Zones in this list must match the value of <code>ReplicaCount</code> or <code>ReplicasPerNodeGroup</code> if not specified.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "ReplicaCount": {
                                                                        "description": "The number of read replica nodes in this node group (shard).",
                                                                        "type": "integer"
                                                                    },
                                                                    "Slots": {
                                                                        "description": "<p>A string that specifies the keyspace for a particular node group. Keyspaces range from 0 to 16,383. The string is in the format <code>startkey-endkey</code>.</p> <p>Example: <code>\"0-3999\"</code> </p>",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "NodeGroupId": {
                                                                "description": "A unique identifier for the source node group (shard).",
                                                                "type": "string"
                                                            },
                                                            "SnapshotCreateTime": {
                                                                "description": "The date and time when the source node's metadata and cache data set was obtained for the snapshot.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "NumCacheNodes": {
                                                    "description": "<p>The number of cache nodes in the source cluster.</p> <p>For clusters running Redis, this value must be 1. For clusters running Memcached, this value must be between 1 and 20.</p>",
                                                    "type": "integer"
                                                },
                                                "NumNodeGroups": {
                                                    "description": "The number of node groups (shards) in this snapshot. When restoring from a snapshot, the number of node groups (shards) in the snapshot and in the restored replication group must be the same.",
                                                    "type": "integer"
                                                },
                                                "Port": {
                                                    "description": "The port number used by each cache nodes in the source cluster.",
                                                    "type": "integer"
                                                },
                                                "PreferredAvailabilityZone": {
                                                    "description": "The name of the Availability Zone in which the source cluster is located.",
                                                    "type": "string"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": "<p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period.</p> <p>Valid values for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code> </p>",
                                                    "type": "string"
                                                },
                                                "ReplicationGroupDescription": {
                                                    "description": "A description of the source replication group.",
                                                    "type": "string"
                                                },
                                                "ReplicationGroupId": {
                                                    "description": "The unique identifier of the source replication group.",
                                                    "type": "string"
                                                },
                                                "SnapshotName": {
                                                    "description": "The name of a snapshot. For an automatic snapshot, the name is system-generated. For a manual snapshot, this is the user-provided name.",
                                                    "type": "string"
                                                },
                                                "SnapshotRetentionLimit": {
                                                    "description": "<p>For an automatic snapshot, the number of days for which ElastiCache retains the snapshot before deleting it.</p> <p>For manual snapshots, this field reflects the <code>SnapshotRetentionLimit</code> for the source cluster when the snapshot was created. This field is otherwise ignored: Manual snapshots do not expire, and can only be deleted using the <code>DeleteSnapshot</code> operation. </p> <p> <b>Important</b> If the value of SnapshotRetentionLimit is set to zero (0), backups are turned off.</p>",
                                                    "type": "integer"
                                                },
                                                "SnapshotSource": {
                                                    "description": "Indicates whether the snapshot is from an automatic backup (<code>automated</code>) or was created manually (<code>manual</code>).",
                                                    "type": "string"
                                                },
                                                "SnapshotStatus": {
                                                    "description": "The status of the snapshot. Valid values: <code>creating</code> | <code>available</code> | <code>restoring</code> | <code>copying</code> | <code>deleting</code>.",
                                                    "type": "string"
                                                },
                                                "SnapshotWindow": {
                                                    "description": "The daily time range during which ElastiCache takes daily snapshots of the source cluster.",
                                                    "type": "string"
                                                },
                                                "TopicArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the topic used by the source cluster for publishing notifications.",
                                                    "type": "string"
                                                },
                                                "VpcId": {
                                                    "description": "The Amazon Virtual Private Cloud identifier (VPC ID) of the cache subnet group for the source cluster.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "SnapshotAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "SnapshotNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "SnapshotQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidSnapshotStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a <code>CopySnapshotMessage</code> operation.",
                                "properties": {
                                    "SourceSnapshotName": {
                                        "description": "The name of an existing snapshot from which to make a copy.",
                                        "type": "string"
                                    },
                                    "TargetBucket": {
                                        "description": "<p>The Amazon S3 bucket to which the snapshot is exported. This parameter is used only when exporting a snapshot for external access.</p> <p>When using this parameter to export a snapshot, be sure Amazon ElastiCache has the needed permissions to this S3 bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html#Snapshots.Exporting.GrantAccess\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the <i>Amazon ElastiCache User Guide</i>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html\">Exporting a Snapshot</a> in the <i>Amazon ElastiCache User Guide</i>.</p>",
                                        "type": "string"
                                    },
                                    "TargetSnapshotName": {
                                        "description": "A name for the snapshot copy. ElastiCache does not permit overwriting a snapshot, therefore this name must be unique within its context - ElastiCache or an Amazon S3 bucket if exporting.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SourceSnapshotName",
                                    "TargetSnapshotName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateCacheCluster": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a cluster. All nodes in the cluster run the same protocol-compliant cache engine software, either Memcached or Redis.</p> <p>This operation is not supported for Redis (cluster mode enabled) clusters.</p>",
                "operationId": "CreateCacheCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "CacheCluster": {
                                            "description": "Contains all of the attributes of a specific cluster.",
                                            "properties": {
                                                "AtRestEncryptionEnabled": {
                                                    "description": "<p>A flag that enables encryption at-rest when set to <code>true</code>.</p> <p>You cannot modify the value of <code>AtRestEncryptionEnabled</code> after the cluster is created. To enable at-rest encryption on a cluster you must set <code>AtRestEncryptionEnabled</code> to <code>true</code> when you create a cluster.</p> <p> <b>Required:</b> Only available when creating a replication group in an Amazon VPC using redis version <code>3.2.6</code> or <code>4.x</code>.</p> <p>Default: <code>false</code> </p>",
                                                    "type": "boolean"
                                                },
                                                "AuthTokenEnabled": {
                                                    "description": "<p>A flag that enables using an <code>AuthToken</code> (password) when issuing Redis commands.</p> <p>Default: <code>false</code> </p>",
                                                    "type": "boolean"
                                                },
                                                "AutoMinorVersionUpgrade": {
                                                    "description": "This parameter is currently disabled.",
                                                    "type": "boolean"
                                                },
                                                "CacheClusterCreateTime": {
                                                    "description": "The date and time when the cluster was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "CacheClusterId": {
                                                    "description": "The user-supplied identifier of the cluster. This identifier is a unique key that identifies a cluster.",
                                                    "type": "string"
                                                },
                                                "CacheClusterStatus": {
                                                    "description": "The current state of this cluster, one of the following values: <code>available</code>, <code>creating</code>, <code>deleted</code>, <code>deleting</code>, <code>incompatible-network</code>, <code>modifying</code>, <code>rebooting cluster nodes</code>, <code>restore-failed</code>, or <code>snapshotting</code>.",
                                                    "type": "string"
                                                },
                                                "CacheNodeType": {
                                                    "description": "<p>The name of the compute and memory capacity node type for the cluster.</p> <p>The following node types are supported by ElastiCache. Generally speaking, the current generation types provide more memory and computational power at lower cost when compared to their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> <p> <b>R4 node types;</b> <code>cache.r4.large</code>, <code>cache.r4.xlarge</code>, <code>cache.r4.2xlarge</code>, <code>cache.r4.4xlarge</code>, <code>cache.r4.8xlarge</code>, <code>cache.r4.16xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Notes:</b> </p> <ul> <li> <p>All T2 instances are created in an Amazon Virtual Private Cloud (Amazon VPC).</p> </li> <li> <p>Redis (cluster mode disabled): Redis backup/restore is not supported on T1 and T2 instances. </p> </li> <li> <p>Redis (cluster mode enabled): Backup/restore is not supported on T1 instances.</p> </li> <li> <p>Redis Append-only files (AOF) functionality is not supported for T1 or T2 instances.</p> </li> </ul> <p>For a complete listing of node types and specifications, see:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/elasticache/details\">Amazon ElastiCache Product Features and Details</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/mem-ug/ParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific\">Cache Node Type-Specific Parameters for Memcached</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/ParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific\">Cache Node Type-Specific Parameters for Redis</a> </p> </li> </ul>",
                                                    "type": "string"
                                                },
                                                "CacheNodes": {
                                                    "description": "A list of cache nodes that are members of the cluster.",
                                                    "items": {
                                                        "description": "<p>Represents an individual cache node within a cluster. Each cache node runs its own instance of the cluster's protocol-compliant caching software - either Memcached or Redis.</p> <p>The following node types are supported by ElastiCache. Generally speaking, the current generation types provide more memory and computational power at lower cost when compared to their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> <p> <b>R4 node types;</b> <code>cache.r4.large</code>, <code>cache.r4.xlarge</code>, <code>cache.r4.2xlarge</code>, <code>cache.r4.4xlarge</code>, <code>cache.r4.8xlarge</code>, <code>cache.r4.16xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Notes:</b> </p> <ul> <li> <p>All T2 instances are created in an Amazon Virtual Private Cloud (Amazon VPC).</p> </li> <li> <p>Redis (cluster mode disabled): Redis backup/restore is not supported on T1 and T2 instances. </p> </li> <li> <p>Redis (cluster mode enabled): Backup/restore is not supported on T1 instances.</p> </li> <li> <p>Redis Append-only files (AOF) functionality is not supported for T1 or T2 instances.</p> </li> </ul> <p>For a complete listing of node types and specifications, see:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/elasticache/details\">Amazon ElastiCache Product Features and Details</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/mem-ug/ParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific\">Cache Node Type-Specific Parameters for Memcached</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/ParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific\">Cache Node Type-Specific Parameters for Redis</a> </p> </li> </ul>",
                                                        "properties": {
                                                            "CacheNodeCreateTime": {
                                                                "description": "The date and time when the cache node was created.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "CacheNodeId": {
                                                                "description": "The cache node identifier. A node ID is a numeric identifier (0001, 0002, etc.). The combination of cluster ID and node ID uniquely identifies every cache node used in a customer's AWS account.",
                                                                "type": "string"
                                                            },
                                                            "CacheNodeStatus": {
                                                                "description": "The current state of this cache node.",
                                                                "type": "string"
                                                            },
                                                            "CustomerAvailabilityZone": {
                                                                "description": "The Availability Zone where this node was created and now resides.",
                                                                "type": "string"
                                                            },
                                                            "Endpoint": {
                                                                "description": "The hostname for connecting to this cache node.",
                                                                "properties": {
                                                                    "Address": {
                                                                        "description": "The DNS hostname of the cache node.",
                                                                        "type": "string"
                                                                    },
                                                                    "Port": {
                                                                        "description": "The port number that the cache engine is listening on.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ParameterGroupStatus": {
                                                                "description": "The status of the parameter group applied to this cache node.",
                                                                "type": "string"
                                                            },
                                                            "SourceCacheNodeId": {
                                                                "description": "The ID of the primary node to which this read replica node is synchronized. If this field is empty, this node is not associated with a primary cluster.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "CacheParameterGroup": {
                                                    "description": "Status of the cache parameter group.",
                                                    "properties": {
                                                        "CacheNodeIdsToReboot": {
                                                            "description": "A list of the cache node IDs which need to be rebooted for parameter changes to be applied. A node ID is a numeric identifier (0001, 0002, etc.).",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "CacheParameterGroupName": {
                                                            "description": "The name of the cache parameter group.",
                                                            "type": "string"
                                                        },
                                                        "ParameterApplyStatus": {
                                                            "description": "The status of parameter updates.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "CacheSecurityGroups": {
                                                    "description": "A list of cache security group elements, composed of name and status sub-elements.",
                                                    "items": {
                                                        "description": "Represents a cluster's status within a particular cache security group.",
                                                        "properties": {
                                                            "CacheSecurityGroupName": {
                                                                "description": "The name of the cache security group.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "The membership status in the cache security group. The status changes when a cache security group is modified, or when the cache security groups assigned to a cluster are modified.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "CacheSubnetGroupName": {
                                                    "description": "The name of the cache subnet group associated with the cluster.",
                                                    "type": "string"
                                                },
                                                "ClientDownloadLandingPage": {
                                                    "description": "The URL of the web page where you can download the latest ElastiCache client library.",
                                                    "type": "string"
                                                },
                                                "ConfigurationEndpoint": {
                                                    "description": "<p>Represents a Memcached cluster endpoint which, if Automatic Discovery is enabled on the cluster, can be used by an application to connect to any node in the cluster. The configuration endpoint will always have <code>.cfg</code> in it.</p> <p>Example: <code>mem-3.9dvc4r<u>.cfg</u>.usw2.cache.amazonaws.com:11211</code> </p>",
                                                    "properties": {
                                                        "Address": {
                                                            "description": "The DNS hostname of the cache node.",
                                                            "type": "string"
                                                        },
                                                        "Port": {
                                                            "description": "The port number that the cache engine is listening on.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Engine": {
                                                    "description": "The name of the cache engine (<code>memcached</code> or <code>redis</code>) to be used for this cluster.",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": "The version of the cache engine that is used in this cluster.",
                                                    "type": "string"
                                                },
                                                "NotificationConfiguration": {
                                                    "description": "Describes a notification topic and its status. Notification topics are used for publishing ElastiCache events to subscribers using Amazon Simple Notification Service (SNS). ",
                                                    "properties": {
                                                        "TopicArn": {
                                                            "description": "The Amazon Resource Name (ARN) that identifies the topic.",
                                                            "type": "string"
                                                        },
                                                        "TopicStatus": {
                                                            "description": "The current state of the topic.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "NumCacheNodes": {
                                                    "description": "<p>The number of cache nodes in the cluster.</p> <p>For clusters running Redis, this value must be 1. For clusters running Memcached, this value must be between 1 and 20.</p>",
                                                    "type": "integer"
                                                },
                                                "PendingModifiedValues": {
                                                    "description": "A group of settings that are applied to the cluster in the future, or that are currently being applied.",
                                                    "properties": {
                                                        "CacheNodeIdsToRemove": {
                                                            "description": "A list of cache node IDs that are being removed (or will be removed) from the cluster. A node ID is a 4-digit numeric identifier (0001, 0002, etc.).",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "CacheNodeType": {
                                                            "description": "The cache node type that this cluster or replication group is scaled to.",
                                                            "type": "string"
                                                        },
                                                        "EngineVersion": {
                                                            "description": "The new cache engine version that the cluster runs.",
                                                            "type": "string"
                                                        },
                                                        "NumCacheNodes": {
                                                            "description": "<p>The new number of cache nodes for the cluster.</p> <p>For clusters running Redis, this value must be 1. For clusters running Memcached, this value must be between 1 and 20.</p>",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "PreferredAvailabilityZone": {
                                                    "description": "The name of the Availability Zone in which the cluster is located or \"Multiple\" if the cache nodes are located in different Availability Zones.",
                                                    "type": "string"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": "<p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period.</p> <p>Valid values for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code> </p>",
                                                    "type": "string"
                                                },
                                                "ReplicationGroupId": {
                                                    "description": "The replication group to which this cluster belongs. If this field is empty, the cluster is not associated with any replication group.",
                                                    "type": "string"
                                                },
                                                "SecurityGroups": {
                                                    "description": "A list of VPC Security Groups associated with the cluster.",
                                                    "items": {
                                                        "description": "Represents a single cache security group and its status.",
                                                        "properties": {
                                                            "SecurityGroupId": {
                                                                "description": "The identifier of the cache security group.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "The status of the cache security group membership. The status changes whenever a cache security group is modified, or when the cache security groups assigned to a cluster are modified.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "SnapshotRetentionLimit": {
                                                    "description": "<p>The number of days for which ElastiCache retains automatic cluster snapshots before deleting them. For example, if you set <code>SnapshotRetentionLimit</code> to 5, a snapshot that was taken today is retained for 5 days before being deleted.</p> <important> <p> If the value of SnapshotRetentionLimit is set to zero (0), backups are turned off.</p> </important>",
                                                    "type": "integer"
                                                },
                                                "SnapshotWindow": {
                                                    "description": "<p>The daily time range (in UTC) during which ElastiCache begins taking a daily snapshot of your cluster.</p> <p>Example: <code>05:00-09:00</code> </p>",
                                                    "type": "string"
                                                },
                                                "TransitEncryptionEnabled": {
                                                    "description": "<p>A flag that enables in-transit encryption when set to <code>true</code>.</p> <p>You cannot modify the value of <code>TransitEncryptionEnabled</code> after the cluster is created. To enable in-transit encryption on a cluster you must set <code>TransitEncryptionEnabled</code> to <code>true</code> when you create a cluster.</p> <p> <b>Required:</b> Only available when creating a replication group in an Amazon VPC using redis version <code>3.2.6</code> or <code>4.x</code>.</p> <p>Default: <code>false</code> </p>",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ReplicationGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidReplicationGroupStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CacheClusterAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InsufficientCacheClusterCapacityFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CacheSecurityGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "CacheSubnetGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ClusterQuotaForCustomerExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "NodeQuotaForClusterExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "NodeQuotaForCustomerExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "CacheParameterGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "InvalidVPCNetworkStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "TagQuotaPerResourceExceeded",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "492": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "493": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a CreateCacheCluster operation.",
                                "properties": {
                                    "AZMode": {
                                        "description": "<p>Specifies whether the nodes in this Memcached cluster are created in a single Availability Zone or created across multiple Availability Zones in the cluster's region.</p> <p>This parameter is only supported for Memcached clusters.</p> <p>If the <code>AZMode</code> and <code>PreferredAvailabilityZones</code> are not specified, ElastiCache assumes <code>single-az</code> mode.</p>",
                                        "enum": [
                                            "single-az",
                                            "cross-az"
                                        ],
                                        "type": "string"
                                    },
                                    "AuthToken": {
                                        "description": "<p> <b>Reserved parameter.</b> The password used to access a password protected server.</p> <p>Password constraints:</p> <ul> <li> <p>Must be only printable ASCII characters.</p> </li> <li> <p>Must be at least 16 characters and no more than 128 characters in length.</p> </li> <li> <p>Cannot contain any of the following characters: '/', '\"', or '@'. </p> </li> </ul> <p>For more information, see <a href=\"http://redis.io/commands/AUTH\">AUTH password</a> at http://redis.io/commands/AUTH.</p>",
                                        "type": "string"
                                    },
                                    "AutoMinorVersionUpgrade": {
                                        "description": "This parameter is currently disabled.",
                                        "type": "boolean"
                                    },
                                    "CacheClusterId": {
                                        "description": "<p>The node group (shard) identifier. This parameter is stored as a lowercase string.</p> <p> <b>Constraints:</b> </p> <ul> <li> <p>A name must contain from 1 to 20 alphanumeric characters or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>A name cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "CacheNodeType": {
                                        "description": "<p>The compute and memory capacity of the nodes in the node group (shard).</p> <p>The following node types are supported by ElastiCache. Generally speaking, the current generation types provide more memory and computational power at lower cost when compared to their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> <p> <b>R4 node types;</b> <code>cache.r4.large</code>, <code>cache.r4.xlarge</code>, <code>cache.r4.2xlarge</code>, <code>cache.r4.4xlarge</code>, <code>cache.r4.8xlarge</code>, <code>cache.r4.16xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Notes:</b> </p> <ul> <li> <p>All T2 instances are created in an Amazon Virtual Private Cloud (Amazon VPC).</p> </li> <li> <p>Redis (cluster mode disabled): Redis backup/restore is not supported on T1 and T2 instances. </p> </li> <li> <p>Redis (cluster mode enabled): Backup/restore is not supported on T1 instances.</p> </li> <li> <p>Redis Append-only files (AOF) functionality is not supported for T1 or T2 instances.</p> </li> </ul> <p>For a complete listing of node types and specifications, see:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/elasticache/details\">Amazon ElastiCache Product Features and Details</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/mem-ug/ParameterGroups.Memcached.html#ParameterGroups.Memcached.NodeSpecific\">Cache Node Type-Specific Parameters for Memcached</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/ParameterGroups.Redis.html#ParameterGroups.Redis.NodeSpecific\">Cache Node Type-Specific Parameters for Redis</a> </p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "CacheParameterGroupName": {
                                        "description": "The name of the parameter group to associate with this cluster. If this argument is omitted, the default parameter group for the specified engine is used. You cannot use any parameter group which has <code>cluster-enabled='yes'</code> when creating a cluster.",
                                        "type": "string"
                                    },
                                    "CacheSecurityGroupNames": {
                                        "description": "<p>A list of security group names to associate with this cluster.</p> <p>Use this parameter only when you are creating a cluster outside of an Amazon Virtual Private Cloud (Amazon VPC).</p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "CacheSubnetGroupName": {
                                        "description": "<p>The name of the subnet group to be used for the cluster.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p> <important> <p>If you're going to launch your cluster in an Amazon VPC, you need to create a subnet group before you start creating a cluster. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/SubnetGroups.html\">Subnets and Subnet Groups</a>.</p> </important>",
                                        "type": "string"
                                    },
                                    "Engine": {
                                        "description": "<p>The name of the cache engine to be used for this cluster.</p> <p>Valid values for this parameter are: <code>memcached</code> | <code>redis</code> </p>",
                                        "type": "string"
                                    },
                                    "EngineVersion": {
                                        "description": "<p>The version number of the cache engine to be used for this cluster. To view the supported cache engine versions, use the DescribeCacheEngineVersions operation.</p> <p> <b>Important:</b> You can upgrade to a newer engine version (see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/SelectEngine.html#VersionManagement\">Selecting a Cache Engine and Version</a>), but you cannot downgrade to an earlier engine version. If you want to use an earlier engine version, you must delete the existing cluster or replication group and create it anew with the earlier engine version. </p>",
                                        "type": "string"
                                    },
                                    "NotificationTopicArn": {
                                        "description": "<p>The Amazon Resource Name (ARN) of the Amazon Simple Notification Service (SNS) topic to which notifications are sent.</p> <note> <p>The Amazon SNS topic owner must be the same as the cluster owner.</p> </note>",
                                        "type": "string"
                                    },
                                    "NumCacheNodes": {
                                        "description": "<p>The initial number of cache nodes that the cluster has.</p> <p>For clusters running Redis, this value must be 1. For clusters running Memcached, this value must be between 1 and 20.</p> <p>If you need more than 20 nodes for your Memcached cluster, please fill out the ElastiCache Limit Increase Request form at <a href=\"http://aws.amazon.com/contact-us/elasticache-node-limit-request/\">http://aws.amazon.com/contact-us/elasticache-node-limit-request/</a>.</p>",
                                        "type": "integer"
                                    },
                                    "Port": {
                                        "description": "The port number on which each of the cache nodes accepts connections.",
                                        "type": "integer"
                                    },
                                    "PreferredAvailabilityZone": {
                                        "description": "<p>The EC2 Availability Zone in which the cluster is created.</p> <p>All nodes belonging to this Memcached cluster are placed in the preferred Availability Zone. If you want to create your nodes across multiple Availability Zones, use <code>PreferredAvailabilityZones</code>.</p> <p>Default: System chosen Availability Zone.</p>",
                                        "type": "string"
[...]
